<% if (defined? error) %> 
	<%= "<div class=\"error\">#{error}</div>".html_safe %>
<% end %>
<%= form_tag "new", method:"POST" do %>
<%= render template: "crew_cards/form", locals: {card: card} %>
<%= submit_tag "Create" %>
<% end %>