// Place all the styles related to the BasicCard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card
	width: 375px
	height: 558px
	margin-right: auto
	margin-left: auto

.card_left_margin
	width: 31px
	height: 558px
	float: left

.card_center_content
	width: 294px
	height: 558px
	float: left

.card_title
	width: 198px
	margin-top: 2px
	height: 32px
	font-size: 11pt
	color: #FFFFBF
	float: left

.icon
	width: 32px
	height: 32px
	float: left

.icon_content
	position: absolute
	top: 20px
	text-align: right
	font-size: 13pt
	font-weight: bold
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
	color: #FFFFBF

.card_image
	width: 290px
	height: 304px
	float: left

.card_content
	width: 278px
	height: 238px
	margin-top: 10px
	float: left
	font-size: 14pt
	line-height: 16pt
	color: #333326

.card_right_margin
	width: 50px
	height: 558px
	float: left

.card_right_margin_spacer
	width: 50px
	height: 500px

.ability_title
	font-weight: bold
	font-color: #000000
	display: inline

.ability_block
	font-color: #666666
	display: inline

.form_backer
	color: #AAAAAA
	background-color: #333333
	width: auto
	height: auto

.basic_card_set_list
	height: 20em
	overflow: auto
	border: solid
	border-color: #553333
	border-weight: 2px

.basic_card_title
	font-size: 1.25em

.basic_card_separator_cell
	background-color: #555555

.basic_card_element_link
	height: 2em

.basic_card_element_selector
	hieght: 2em
	border: solid
	border-weight: 1px