// Place all the styles related to the CrewCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tap
	background-image: url('tap_icon.png')
	width: 12pt
	height: 12pt
	display: inline-block

.untap
	background-image: url('untap_icon.png')
	width: 12pt
	height: 12pt
	display: inline-block